$color: rgb(255, 217, 53)

* 
    max-width: 100%
    margin: 0
    padding: 0

body 
    background-color: #f8f9fa

    .navbar
        background-color: white

.holder
    background-color: white
    margin-top: 25px
    padding: 10px

    input 
        border-radius: 15px
        padding: 15px

    button 
        background-color: $color
        border: solid
        border-color: $color
        border-width: 1px
        border-radius: 15px
        color: white
        padding: 15px

    button:hover
        background-color: white
        color: $color
        cursor: pointer

    #name
        width: 92%

    #reviewname
        border-radius: .25rem
        padding: .5rem .75rem

    h2
        color: $color
        text-transform: capitalize
        font-weight: 900

    h3
        color: $color
        text-transform: capitalize
        font-weight: 700

    .media
        
        h4
            color: $color
            font-weight: 700
            text-transform: capitalize

        p
            text-transform: capitalize
            margin-bottom: 0

        .fa
            min-width: 15px
        
.fa-star, .fa-star-o
    color: $color

.fa-2 
    font-size: 2em !important